<h1 class="text-center">School Districts List</h1>
<div  align="right"><td><button class="btn btn-default" type="button" routerLink="/distAdd" routerLinkActive="active">New District</button></td>
  <td><button class="btn btn-default" type="button" routerLink="/distFldSel" routerLinkActive="active">Selected Districts</button></td>
  
  <td><button class="btn btn-default" type="button" (click)="getDistrictCount(retval)">Test Count</button></td>
</div>
<!--  
<div>
 <form [formGroup]="districtForm" (ngSubmit)="onDistrictFormSubmit()">
 
  <table class="table-striped" style="margin:0 auto;">
    <tr><td>Enter Name</td><td><input formControlName="name">
	       <label *ngIf="districtForm.get('name').invalid && processValidation" [ngClass] = "'error'"> Name is required. </label>
   	</td></tr>
    <tr><td>Enter Address</td><td><input formControlName="addr">
	       <label *ngIf="districtForm.get('addr').invalid && processValidation" [ngClass] = "'error'"> Address is required. </label>
	</td></tr>	
    <tr><td colspan="2">
	    <button class="btn btn-default" *ngIf="!districtIdToUpdate">CREATE</button>  
		<button class="btn btn-default" *ngIf="districtIdToUpdate">UPDATE</button>  
	    <button (click)="backToCreateDistrict()" *ngIf="districtIdToUpdate">Go Back</button>  
	</td></tr>
  </table>
 </form> 
 <br/>
 <div class="text-center" *ngIf="statusCode; else processing">
   <div *ngIf="statusCode === 201" [ngClass] = "'success'">
	    District added successfully.
   </div>   
   <div *ngIf="statusCode === 409" [ngClass] = "'success'">
        District already exists.
   </div>   	
   <div *ngIf="statusCode === 200" [ngClass] = "'success'">
        District updated successfully.
   </div>   	      
   <div *ngIf="statusCode === 204" [ngClass] = "'success'">
        District deleted successfully.
   </div>   	   
   <div *ngIf="statusCode === 500" [ngClass] = "'error'">
        Internal Server Error.
   </div>	
 </div>
 <ng-template #processing>
	<img *ngIf="requestProcessing" src="assets/images/loading.gif">
 </ng-template>
</div>     
<h3 class="text-center">District List</h3>  -->
<table class="table-striped" style="margin:0 auto;" *ngIf="allDistricts">
  <tr><th>Id</th> <th>Dist Num</th><th>Name</th><th>Address</th>
    <th>City, St Zip</th><th>Enrollment</th>
    <th></th><th></th><th></th></tr>
  <tr *ngFor="let district of allDistricts"  >
    <td style="text-align:center">{{district.id}}</td>
    <td style="text-align:center">{{district.distnum}}</td> 
    <td>{{district.name}}</td> <td>{{district.addr}}</td> 
    <td>{{district.city}} {{district.status}}, {{district.zip}}</td>
    <td style="text-align:right">{{district.enr}}</td>
  <td><button class="btn btn-default" type="button" routerLink="/distEdit/{{district.id}}" routerLinkActive="active">Edit</button> </td> 
  <td><button class="btn btn-default" type="button" (click)="deleteDistrict(district.id, district.name,district.distnum)">Delete</button></td>
<!--  <td><button class="btn btn-default" type="button" (click)="displaySchoolsInDistrict(district.distnum)">Schools</button> </td>  -->
  <td><button class="btn btn-default" routerLink="/xxx/{{district.distnum}}" routerLinkActive="active" >Schools</button></td>

  </tr>
</table>
